*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height: 100%;
}

body.index{
    height: 500px;
    width:100%;
    background-image: url('/img/fundo.jpeg');
    background-size: 100% 100%;

}

section.container{
    width: 100%;
    height: 500px;
}

.center{
    max-width: 1400px;
    margin: 0 auto;
}

.form-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 8px;


}

img.logo{
    width: 22em;
    height: 20em;

}

input#login{
    display: flex;
    justify-content: left;
    padding: 10px 55px;
    border: 1px solid ;
    background-color: rgb(229, 229, 229);
    font-size: 15px;
}

input#senha{
    display: flex;
    justify-content: left;
    padding: 10px 55px;
    border: 1px solid ;
    background-color: rgb(217, 208, 208);
    font-size: 15px;
}


i{
    position: relative;
    right: 170px;
    top: 35px;
    color: rgb(232, 232, 232);
    background:rgb(79, 78, 78);
    width: 27px;
    height: 27px;
    text-align: center;
    padding-top: 5px;

}

button.login{
    padding: 14px 85px;
    border-radius: 30px;
    background-color: brown;
    border: 1px solid black;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button.login:hover{
    transform: scale(1.1);
    background-color: rgb(122, 54, 54);
}



/* ************Página Home*************** */

header{
    width: 100%;
    padding: 0 2%;
    background-color: gainsboro;
}

.top-menu{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;


}

.top-menu img{
    width: 6em;
    height: 5em;
}

.top-menu i{
    cursor: pointer;

}

section.home-initial{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;

}

.container-primary{
    width: 20%;
    height: 630px;
    background-color: gainsboro;
}

.container-primary h3{
    font-size: 18px;
    font-weight: lighter;
    font-family:'Montserrat', sans-serif ;
    text-align: justify;
    margin-left: 35px;
    cursor: pointer;
    color: rgb(255, 17, 17);
    transition: 0.6s;

}

.container-primary h3:hover{
    color: rgb(140, 135, 135);
}

.container-primary h3 > a{
    text-decoration: none;
}



.primary-box{
    width: 100%;
    height: 125px;
    background-image:url('/img/fundo.jpeg');
    background-size: 100% 100%;
    display: flex;
    align-items: center;

}

.primary-box h3{
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 17px;
    color: whitesmoke;

}



.primary-box img{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    border-radius: 40px;



}


.container-secondary{
    width: 80%;
    height: 600px;
    background-color: #f5f5f5;

}

.box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 20px;



}

.box1{
    width: 22%;
    height: 135px;
    background-color: #00c853;
    display: flex;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}

.box1:hover{
    transform: scale(1.1);
}

#icon1{
   font-size: 30px;
   background-color: transparent;
   color: rgb(113, 113, 113);
   transition: 0.6s;
}

#icon1:hover{
    color: rgb(208, 208, 215);
}

.box1 h2{
    font-size: 22px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 20px;
    color: whitesmoke
}

.box1 span{
    margin-top: 100px;
    font-size: 30px;
    font-weight: 900;
    font-family:'Montserrat', sans-serif;
    position: relative;
    right:110px;
    color: rgba(77, 57, 57, 0.777);


}


.box2{
    width: 22%;
    height: 135px;
    background-color: #ff5252;
    display: flex;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}

.box2:hover{
    transform: scale(1.1);
}



#icon2{
    font-size: 30px;
    background-color: transparent;
    color: rgb(113, 113, 113);
    transition: 0.6s;
 }

 #icon2:hover{
     color: rgb(208, 208, 215);
 }

 .box2 h2{
     font-size: 22px;
     font-family:'Montserrat', sans-serif;
     font-weight: 400;
     margin-left: 90px;
     margin-top: 20px;
     color: whitesmoke
 }

 .box2 span{
    margin-top: 100px;
    font-size: 25px;
    font-weight: 900;
    font-family:'Montserrat', sans-serif;
    position: relative;
    right:110px;
    color: rgba(77, 57, 57, 0.777);

}

.box3{
    width: 22%;
    height: 135px;
    background-color:#2196f3;
    display: flex;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}

.box3:hover{
    transform: scale(1.1);
}



#icon3{
    font-size: 30px;
    background-color: transparent;
    color: rgb(113, 113, 113);
    transition: 0.6s;
 }

 #icon3:hover{
     color: rgb(208, 208, 215);
 }

 .box3 h2{
     font-size: 22px;
     font-family:'Montserrat', sans-serif;
     font-weight: 400;
     margin-left: 90px;
     margin-top: 20px;
     color: whitesmoke
 }


 .box3 span{
    margin-top: 100px;
    font-size: 30px;
    font-weight: 900;
    font-family:'Montserrat', sans-serif;
    position: relative;
    right:130px;
    color: rgba(77, 57, 57, 0.777);

}

.box4{
    width: 22%;
    height: 135px;
    background-color: #e040fb;
    display: flex;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}

.box4:hover{
    transform: scale(1.1);
}



#icon4{
    font-size: 30px;
    background-color: transparent;
    color: rgb(113, 113, 113);
    transition: 0.6s;
 }

 #icon4:hover{
     color: rgb(208, 208, 215);
 }

 .box4 h2{
     font-size: 22px;
     font-family:'Montserrat', sans-serif;
     font-weight: 400;
     margin-left: 90px;
     margin-top: 20px;
     color: rgba(77, 57, 57, 0.777);
 }

 .box4 span{
    margin-top: 100px;
    font-size: 30px;
    font-weight: 900;
    font-family:'Montserrat', sans-serif;
    position: relative;
    right:130px;
    color: rgba(77, 57, 57, 0.777);

}

.box-metric{
    width: 80%;
    height: 390px;
    margin-top: 20px;
    margin-left: 100px;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
}

.box-metric h2{
    font-size: 22px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 20px;
}




/* *************Page Registration************* */



.registration{
    width: 90%;
    height: 190px;
    background-color: rgb(230, 230, 230);
    margin-left: 50px;
    margin-top: 25px;
    padding-top: 8px;




}

.registration h2{
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: 1px solid black;
    height: 50px;
    width: 96%;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(4, 92, 140);

}

.registration-new{
    margin: 20px 0;


}

.registration-new input.w100{
    width: 210px;
    padding: 15px 0;
    margin-left: 20px;
    background-color: rgba(5, 200, 222, 0.757);
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.5s;


}

.registration-new input.w100:hover{
    background-color: rgba(7, 174, 193, 0.757);

}

.registration-new i{
    position: relative;
    left: -205px;
    top: 0px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;

}

.registration-new input.w50{
    width: 40%;
    padding: 15px 5px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    text-align: left;
    border: 1px solid white;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

}



.registration-new button.search{
    padding: 18px 45px;
    border-radius: 0;
    background-color: rgb(57, 195, 130);
    color: white;
    text-transform: upercase;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.5s;
    margin: 0 15px;
}

.registration-new button.search:hover{
    background-color: rgb(46, 162, 108);


}

#search{
    color: rgb(222, 222, 222);
    font-size: 16px;
    position: relative;
    left:-175px;

}

.container-tri{
    width: 90%;
    height: 395px;
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
    margin-left: 50px;

}

.container-tri > h2{
    margin-left: 20px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    height: 70px;
    width: 96%;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(4, 92, 140);


}

.information-one{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 70px;
    background-color: rgb(230, 230, 230);
}

.information-one > h2{
    margin-left: 15px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(4, 92, 140);
    cursor: pointer;
}

.information-one h2 > i{
    position: relative;
    right: 0px;
    top: 0px;
    background: none;
    color: rgb(4, 92, 140);
}

form#information{
    display: none;
}

/* **********Geral************* */

form.world{
   display: none;

}

form.world > button{
    padding: 6px 55px;
    background-color: #00c853;
    font-size: 17px;
    font-weight: 300;
    font-family:'Montserrat', sans-serif;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 20px;
    transition: all 0.8s;
}

.show-menu{
    opacity: 1 !important;
}

.name-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;


}

.name-info > input{
    padding: 4px 65px;
    width: 70%;
    margin-top: 20px;
    font-size: 12px;
    text-transform: uppercase;

}

.name-info #date{
    width: 30%;
    margin-right: 10px;
    margin-top: 20px;
}

.name-info label{
    margin-left: 50px;
}
.document-info > input{
    margin: 35px 0px 0px 65px;
    padding: 4px 15px;
    font-size: 14px;
}

.document-info > label{
    vertical-align: 20px;
   position: relative;
   left: 60px;

}

.contact-info{
    display: flex;
    flex-direction: row;

}

.contact-info input{
    padding: 6px 15px;
    width: 70%;
    margin-top: 30px;
    margin-right: 15px;
}

.contact-info > label{
    position: relative;
    left: 10px;
    top: 10px;

}

.button-save{
    width: 100%;

}

.button-save button{
    padding: 6px 55px;
    background-color: #00c853;
    font-size: 17px;
    font-weight: 300;
    font-family:'Montserrat', sans-serif;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 20px;
    transition: all 0.8s;
}

.button-save > i{
    position: relative;
    top: -0px;
    left: 60px;
    background: none;

}

.button-save > button:hover{
    background-color: #029a41;

}

/* ***********Fim Geral************ */

form.map{
    display: none;
    margin-top: 50px;
}


.adrees{
    width: 100%;
    display: flex;

}

.adress-info label{
    position: relative;
    left: 15px;
}

.adress-info > input{
    width: 50%;
    padding: 6px 65px;
    margin: 0 25px;
    font-size: 15px;
    font-weight: 500;


}

.adress-info input#num{
    padding: 6px 35px;
    width: 13%;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.localization-info{
    width: 100%;
    margin-top: 20px;
    margin-left: 11px;
    display: flex;
    flex-direction: row;
}

.localization-info label{
    position: relative;
    left: 30px;
    top: 15px;

}

.localization-info > select.estate{
    padding: 6px 45px;
    margin: 10px 40px;
    font-size: 15px;
    font-weight: 500;
}

.localization-info > select#district{
    padding: 6px 45px;
    margin: 10px 40px;
    font-size: 15px;
    font-weight: 500;
}

.localization-info input.complement{
    padding: 6px 35px;
    margin: 10px 35px;
    font-size: 15px;
    font-weight: 500;
}

.complement-code{
    width: 100%;
    margin-left: 37px;
    margin-top: 10px;
    display: flex;


}

.complement-code input#complement_dig{
    padding: 6px 45px;
    margin: 10px 20px;
    font-size: 15px;
    font-weight: 500;
}

.complement-code label{
    position: relative;
    top: 15px;
    left: 12px;
}

.complement-code input#code{
    padding: 6px 45px;
    margin: 10px 30px;
    font-size: 15px;
    font-weight: 500;
}



.fieldset-father{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 20px;

}

fieldset.bible,.basic{
    margin-top: 50px;
    margin-left: 15px;
    width: 30%;
}


.indication-father{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:row;
    margin-top: 50px;
    margin-left: 50px;

}

.indication-father label{
    font-size: 19px;
    color: black;
    margin: 0 15px;


}

#indication{
    width: 20%;
    padding: 8px 25px;
    font-size: 16px;


}

#indication > option{
    font-size: 16px;
    color: black;


}

.information-father > button{
    padding: 6px 55px;
    background-color: #00c853;
    font-size: 17px;
    font-weight: 300;
    font-family:'Montserrat', sans-serif;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 20px;
    transition: all 0.8s;
}

.information-father > i{
    position: relative;
    top: -0px;
    left: 60px;
    background: none;

}

/* *********Lista de Cadastrados************* */

.list-box{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.list-box table{
    width: 100%;
}

.list-box table > caption{
    margin: 35px 10px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(4, 92, 140);


}

.list-box thead{
    width:100%;

}

.list-box thead > tr{
    padding-left: 15px;
    text-align: center;
    font-size: 14px;
}

.list-box thead tr > th{
    padding: 5px;
    background-color:rgb(4, 92, 140);
    color: white;
}


.list-box tbody{
    width: 100%;
}


.list-box tbody > tr{
    text-align: center;
    font-size: 15px;
    margin: 40px 10px;

}

.list-box tbody tr > td{

    padding-top: 5px;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    font-weight: 500;

}

.list-box tbody tr td > i{
    position: relative;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 13px;
    background: none;
    color: rgb(4, 92, 140);



}

.list-box tbody tr td > i:hover{
    transform: scale(0.8);


}

i#icon_salvar{
    position: relative;
    left: 70px;
    top: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 13px;
    background: none;
    color: rgb(4, 92, 140);

}

/* *************Medic************* */

.agendamentos-medic{
    width: 60%;
    height: 130px;
    padding: 25px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    margin: 10px auto;



}

.agendamentos-medic > label{
    font-size: 22px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    color: rgb(4, 92, 140);
    border-bottom: 1px solid;





}

.center{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center input#name_agend{
    width: 40%;
    padding: 7px 10px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
}

.center input#date_agend{
    margin: 10px 15px 0 15px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}

.center select#doctor_medic{
    padding: 4px 10px;
    margin: 10px 15px 0  0;
}

button#button_calendar{
    padding: 12px 45px;
    border-radius: 0;
    background-color: rgb(57, 195, 130);
    color: white;
    text-transform: upercase;
    cursor: pointer;
    border: 1px solid white;
    margin-top: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
}

button#button_calendar:hover{
    background-color:rgb(54, 175, 119);
}

.center i#icon_calendar{
    position: relative;
    top: 5px;
    right: 150px;
    background: none;
    cursor: pointer;

}

.google-calendar{
    width: 100%;
    margin-top: 50px;

}

.container-calendar{
    width: 100%;
    height: 650px;
    background-color: rgb(230, 230, 230);
}

.google-calendar > iframe{
    margin-top: 25px;
}


/* ************Search************ */

.search-biblic-form{
    width:100%;


}

.center-search{
    width: 70%;
    background-color: rgb(230, 230, 230);
    margin: 20px auto;
    padding: 10px 10px;
}

.h2-decoration{
    width: 100%;
    background-image: url('/img/fundo.jpeg');
    background-size: 100% 100%;
    padding: 40px;

}

.h2-decoration > h2{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(225, 225, 225);
    text-align: center;
}

form#form-pesquisa{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 50px 25px;
}

form#form-pesquisa > .names{
    width: 100%;
    display: flex;
    gap: 10px;
}


form#form-pesquisa #name_pesq, #mom_search{
    padding: 7px 65px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

form#form-pesquisa > .dates{
    width: 100%;
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

input#date_search{
    padding: 7px 5px;
    font-size: 12px;
    font-weight: 700;

}

input#idade_search{
    padding: 7px 5px;
    font-size: 12px;
    font-weight: 700;
}

form#form-pesquisa > .form_two{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 50px;

}

input#cel_number{
    width: 18%;
    padding: 7px 10px;
    font-size: 12px;
    font-weight: 700;

}

input#endereço_search{
    width: 30%;
    padding: 7px 5px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;

}

input#number_search{
    width: 10%;
    padding: 7px 2px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

input#bairro_search{
    width: 22%;
    padding: 7px 4px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.search-biblic-form form > label{
    font-size: 15px;
}


/* *********Modo Responsivo********** */


@media screen and (max-width:2100px){
    .container-tri{
        width: 90%;
        height: 595px;
        background-color: rgb(230, 230, 230);
        margin-top: 20px;
        margin-left: 50px;

    }
    .container-primary{
        width: 20%;
        height: 830px;
        background-color: gainsboro;
    }

}
